// Modular scale
// ---------------------------------------
// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
// Based on below modularscale numbers, then adusted down by 0.85. 

$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   23.8,
    beta:    21.25,
    gamma:   19.04,
    delta:   17.0,
    epsilon: 15.21,
    zeta:    13.6,
    eta:     12.21,
    theta:   10.88,
    iota:    9.77
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   25.5,
    beta:    22.66,
    gamma:   21.0,
    delta:   18.79,
    epsilon: 16.96,
    zeta:    14.88,
    eta:     13.08,
    theta:   11.9,
    iota:    10.88
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   27.2,
    beta:    23.92,
    gamma:   21.76,
    delta:   19.31,
    epsilon: 17.44,
    zeta:    15.3,
    eta:     13.79,
    theta:   12.24,
    iota:    11.15
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-3: (
    alpha:   34.0,
    beta:    30.19,
    gamma:   25.5,
    delta:   22.52,
    epsilon: 19.12,
    zeta:    17.0,
    eta:     14.39,
    theta:   12.75,
    iota:    10.85
  ),
  // Aug. Fourth http://www.modularscale.com/?22,50&px&1.414&web&text
  scale-4: (
    alpha:   42.5,
    beta:    37.61,
    gamma:   31.0,
    delta:   27.76,
    epsilon: 21.25,
    zeta:    18.7,
    eta:     15.18,
    theta:   13.3,
    iota:    10.63
  )
);

